<div class="content">
    <%= simple_form_for kanji, remote: true do |f| %>
        <div class="error_section">
        </div>
        <%= f.input :kanji %>
        <%= f.input :meaning, label: 'Nghĩa' %>
        <div class="fields">
            <%= f.input :onyomi %>
            <%= f.input :kunyomi %>
        </div>
        <%= f.input :hint %>
        <%= f.input :kanji_part, as: :boolean, default: false %>
        <%= f.association  :lesson, label_method: :select_label, value_method: :id, collection: Lesson.where(book: 'Kanji') %>
        <%= f.button :submit %>
    <% end %>
</div>