<tr>
    <td><%= kanji.kanji %></td>
    <td><%= kanji.meaning %></td>
    <td><%= kanji.lesson %></td>
    <!-- <td><%= link_to 'Show', kanji %></td>
    <td><%= link_to 'Edit', edit_kanji_path(kanji) %></td>
    <td><%= link_to 'Destroy', kanji, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
</tr>