<p id="notice"><%= notice %></p>
<p>
    <strong>Kanji:</strong>
    <%= @kanji.kanji %>
</p>
<p>
    <strong>Meaning:</strong>
    <%= @kanji.meaning %>
</p>
<p>
    <strong>Onyomi:</strong>
    <%= @kanji.onyomi %>
</p>
<p>
    <strong>Kunyomi:</strong>
    <%= @kanji.kunyomi %>
</p>
<p>
    <strong>Hint:</strong>
    <%= @kanji.hint %>
</p>
<p>
    <strong>Image:</strong>
    <%= @kanji.image %>
</p>
<p>
    <strong>Kanji part:</strong>
    <%= @kanji.kanji_part %>
</p>
<p>
    <strong>Lesson:</strong>
    <%= @kanji.lesson %>
</p>
<%= link_to 'Edit', edit_kanji_path(@kanji), remote: true %> |