<h2> Kanji:  <%= @kanji.kanji %> </h2>
<h2> Meaning:  <%= @kanji.meaning %> </h2>
<p>
    <strong>Onyomi:</strong>
    <%= @kanji.onyomi %>
</p>
<p>
    <strong>Kunyomi:</strong>
    <%= @kanji.kunyomi %>
</p>
<p>
    <strong>Hint:</strong>
    <%= @kanji.hint %>
</p>
<p>
    <strong>Image:</strong>
    <%= @kanji.image %>
</p>
<p>
    <strong>Stroke Count:</strong>
    <%= @kanji.stroke_count %>
</p>
<p>
    <strong>Kanji part:</strong>
    <%= @kanji.radical %>
</p>
<p>
    <strong>Lesson:</strong>
    <%= @kanji.lesson.lesson %>
</p>
<% if user_signed_in? %>
    <%= link_to 'Edit', edit_kanji_path(@kanji), remote: true, class: 'ui primary button' %>
    <%= link_to 'Delete', @kanji, method: :delete, remote: true, class: 'ui negative basic button', data: {confirm: 'Are you sure ?'}%>
<% end %>