<div class="ui grid container">
    <div class="nine wide column">
        <p id="notice"><%= notice %></p>
        <%= link_to 'New Kanji', new_kanji_path,  class: "ui blue basic button" %>
        <%= form_tag search_kanjis_by_lesson_path, method: :get, remote: true do |f| %>
            <%= text_field_tag :lesson %>
            <%= submit_tag "Lesson" %>
        <% end %>
        <div id="kanji-list">
            <%= render 'index' %>
        </div>
        <br>
    </div>
    <div class="six width column">
        <div id="kanji-detail">
        </div>
    </div>
</div>