<%= link_to "Home", root_path, class: "header active item"  %>
<%= link_to "512 Kanji", kanjis_path, class: "item"  %>
<%= link_to "Marugoto Grammars", grammars_path, class: 'item' %>
<%= link_to "Marugoto Words", new_words_path, class: "item"  %>
<div class="ui secondary menu">
    <div class="ui dropdown item">
        <i class="angle down icon"></i>
        <div class="menu">
            <%= link_to 'Verbs', verbs_path, class: 'item' %>
        </div>
    </div>
</div>