<div class="nested-fields">
    <%= f.input :sentences %>
    <%= f.input :kanji_version %>
    <%= f.input :meaning %>
    <%= f.input :note, input_html: {rows: 2 } %>
    <%= link_to_remove_association 'Xóa VD', f %>
</div>