<%= simple_form_for init_forms(new_word), remote: true do |f| %>
    <div class="error_section"></div>
    <div class="two fields">
        <%= f.input :word %>
        <%= f.input :kanji_version %>
    </div>
    <%= f.input :meaning, label: 'Nghĩa' %>
    <%= f.input :note, input_html: { rows: 2 } %>
    <div class="two fields">
        <%= f.input :word_type, collection: NewWord.types, input_html: { onchange: 'display_forms_tags()' } %>
        <%= f.association :lesson, label_method: :select_label, value_method: :id, collection: Lesson.marugoto_books %>
    </div>
    <div class="hidden new-word verb-form">
        <%= f.simple_fields_for :verb_form do |v| %>
            <%= render 'verb_form_fields', v: v %>
        <% end %>
    </div>
    <div class="hidden new-word adj-form">
        <%= f.simple_fields_for :adj_form do |a| %>
            <%= render 'adj_form_fields', a: a %>
        <% end %>
    </div>
    <div class="ui horizontal divider">
        Ví dụ
    </div>
    <div class="examples">
        <%= f.simple_fields_for :examples do |example| %>
            <%= render 'example_fields', f: example %>
        <% end %>
    </div>
    <div class="ui divider"></div>
    <div class="form-actions">
        <%= link_to_add_association 'Thêm ví dụ', f, :examples, class: 'basic positive ui icon button' %>
        <%= f.button :submit %>
    </div>
<% end %>