<%= simple_form_for init_forms(new_word), remote: true do |f| %>
    <div class="error_section"></div>
    <%= f.input :word %>
    <%= f.input :kanji_version %>
    <%= f.input :meaning, label: 'Nghĩa' %>
    <%= f.input :note %>
    <%= f.input :word_type, collection: NewWord.types, input_html: { onchange: 'display_forms_tags()' } %>
    <%= f.association :lesson, label_method: :select_label, value_method: :id, collection: Lesson.marugoto_books %>
    <div class="new-word verb-form">
        <%= f.simple_fields_for :verb_form do |v| %>
            <%= v.input :verb_type %>
            <%= v.input :dictionary_form %>
            <%= v.input :nai_form %>
            <%= v.input :te_form %>
        <% end %>
    </div>
    <div class="new-word adj-form">
        <%= f.simple_fields_for :adj_form do |a| %>
            <%= a.input :adj_type %>
        <% end %>
    </div>
    <%= f.button :submit %>
<% end %>