<table class="ui celled padded unstackable table">
    <thead>
        <tr>
            <th class="one wide center aligned">Lesson</th>
            <th class="five wide center aligned">Word</th>
            <th class="five wide center aligned">Kanji Version</th>
            <th class="five wide">Meaning</th>
        </tr>
    </thead>
    <tbody>
        <% @new_words.each do |new_word| %>
            <tr>
                <td class="single line center aligned row-<%= new_word.word_type %>">
                    <%= new_word.lesson.select_short_label %>
                </td>
                <td class="center aligned">
                    <div class="bigger-font">
                        <%= link_to new_word.word, new_word, remote: true %>
                    </div>
                </td>
                <td>
                    <div class="bigger-font">
                        <%= new_word.kanji_version %>
                    </div>
                </td>
                <td>
                    <div class="bigger-font">
                        <%= simple_format new_word.meaning %>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>