<div class="ui segment">
    <a class="ui tag big label"><%= @new_word.lesson.select_short_label %></a>
    <a class="ui tag big label <%= word_type_colour @new_word %>">
        <%= @new_word.word_type %>
    </a>
    <% if @new_word.verb_form.present? %>
        <a class="ui tag big label">
            <strong>Động từ loại: </strong>
            <%= @new_word.verb_form.verb_type %>
        </a>
    <% elsif @new_word.adj_form.present? %>
        <a class="ui tag green big label">
            <%= @new_word.adj_form.adj_type %>
        </a>
    <% end %>
</div>
<div class="ui segment">
    <div class="ui internally celled grid">
        <div class="row">
            <div class="eight wide column">
                <div class="ui huge red header"><%= @new_word.word %></div>
            </div>
            <% if @new_word.kanji_version.present? %>
                <div class="eight wide column">
                    <div class="ui huge blue header"><%= @new_word.kanji_version %></div>
                </div>
            <% end %>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <h2>
                    <%= simple_format @new_word.meaning %>
                </h2>
            </div>
        </div>
    </div>
</div>
<% if @new_word.verb_form.present? %>
    <div class="ui segment">
        <%= render @new_word.verb_form %>
    </div>
<% end %>
<% if @new_word.examples.any? %>
    <div class="ui horizontal divider">
        Ví dụ
    </div>
    <div class="ui divided items">
        <%= render @new_word.examples %>
    </div>
<% end %>
<% if user_signed_in? %>
    <div class="ui divider"></div>
    <%= link_to 'Edit', edit_new_word_path(@new_word), remote: true, class: 'ui primary button' %>
    <%= link_to 'Delete', @new_word, method: :delete, remote: true, class: 'ui negative basic button', data: {confirm: 'Are you sure ?'} %>
<% end %>