<div class="nested-fields">
    <%= v.input :verb_type %>
    <div class="two fields">
        <%= v.input :dictionary_form %>
        <%= v.input :te_form %>
    </div>
    <div class="two fields">
        <%= v.input :ta_form %>
        <%= v.input :nai_form %>
    </div>
</div>