<div class="ui green segment">
    <div class="nested-fields">
        <div class="ui grid">
            <div class="two wide column">
                <%= link_to_remove_association 'Xóa ví dụ', f, class: 'ui negative basic button' %>
            </div>
            <div class="fourteen wide column">
                <div class="two fields">
                    <%= f.input :sentences %>
                    <%= f.input :kanji_version %>
                </div>
                <%= f.input :meaning %>
                <%= f.input :note, input_html: {rows: 2 } %>
            </div>
        </div>
    </div>
</div>