<div class="ui container">
    <table class="ui celled padded unstackable structured table">
        <thead>
            <tr>
                <th class="one wide center aligned">Lesson</th>
                <th class="six wide center aligned">Title</th>
                <th class="seven wide center aligned">Explanation</th>
                <% if user_signed_in? %>
                    <th colspan="2" class="two wide center aligned"></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @grammars.each do |lesson_id, grammars| %>
                <% grammars.each do |grammar| %>
                    <tr>
                        <% if grammar == grammars.first %>
                            <td rowspan="<%= grammars.count %>"><%= grammar.lesson.select_short_label %></td>
                        <% end %>
                        <td>
                            <div class="bigger-font">
                                <%= link_to simple_format(grammar.title), grammar %>
                            </div>
                        </td>
                        <td>
                            <div class="bigger-font">
                                <%= grammar.explanation %>
                            </div>
                        </td>
                        <% if user_signed_in? %>
                            <td>
                                <%= link_to edit_grammar_path(grammar) , class: 'ui circular icon button' do %>
                                    <i class="edit icon"></i>
                                <% end %>
                            </td>
                            <td>
                                <%= link_to grammar, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui circular icon button' do %>
                                    <i class="delete icon"></i>
                                <% end %>
                            </td>
                        <% end %>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
</div>