<p id="notice"><%= notice %></p>

<h1>Verb Forms</h1>

<table>
  <thead>
    <tr>
      <th>Dictionary form</th>
      <th>Nai form</th>
      <th>Te form</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @verb_forms.each do |verb_form| %>
      <tr>
        <td><%= verb_form.dictionary_form %></td>
        <td><%= verb_form.nai_form %></td>
        <td><%= verb_form.te_form %></td>
        <td><%= link_to 'Show', verb_form %></td>
        <td><%= link_to 'Edit', edit_verb_form_path(verb_form) %></td>
        <td><%= link_to 'Destroy', verb_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Verb Form', new_verb_form_path %>
