<div class="ui borderless menu fixed
    <%= 'top fixed hidden transition following-header' if current_page?(root_url) %> 
    ">
    <div class="left menu">
        <%= link_to "Home", root_path, class: "header item"  %>
        <%= link_to "512 Kanji", kanjis_path, class: "item"  %>
        <%= link_to "Marugoto Words", new_words_path, class: "item"  %>
        <%= link_to "Marugoto Grammars", grammars_path, class: "item"  %>
    </div>
    <div class="right menu">
        <% if current_page?(kanjis_url) %>
            <%= render 'shared/header_kanji' %>
        <% elsif current_page?(new_words_url) %>
            <%= render 'shared/header_new_word' %>
        <% elsif current_page?(grammars_url) %>
            <%= render 'shared/header_grammar' %>
        <% end %>
    </div>
</div>