<div class="ui borderless menu 
    <%= 'top fixed hidden transition following-header' if current_page?(root_url) %> 
    ">
    <div class="left menu">
        <%= link_to "Home", root_path, class: "header item"  %>
        <%= link_to "512 Kanji", kanjis_path, class: "item"  %>
        <%= link_to "Marugoto Words", '#', class: "item"  %>
    </div>
    <div class="right menu">
        <% if current_page?(kanjis_url) %>
            <div class="item">
                <%= link_to 'New Kanji', new_kanji_path, remote: true, class: "ui primary basic button" %>
            </div>
            <div class="item">
                <%= form_tag search_kanjis_by_lesson_path(lesson: params[:lesson]), method: :get, remote: true, id: "form_filter_lesson", class: "ui tiny form" do %>
                    <%= select_tag :lesson, options_from_collection_for_select(Lesson.kanji_books, :id, :select_label), prompt: 'Chọn theo bài', class: "ui ", onchange: "filter_by_lesson()" %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>