<div class="ui borderless menu fixed stackable main-header
    <%= 'top fixed hidden transition following-header' if current_page?(root_url) %> 
    ">
    <%= render 'shared/headers/main_left_header' %>
    <div class="right menu">
        <% if current_controller_is 'kanjis' %>
            <%= render 'shared/headers/header_kanji' %>
        <% elsif current_controller_is 'new_words' %>
            <%= render 'shared/headers/header_new_word' %>
        <% elsif current_controller_is 'grammars' %>
            <%= render 'shared/headers/header_grammar' %>
        <% elsif current_controller_is 'verbs' %>
            <%= render 'shared/headers/header_verb' %>
        <% end %>
    </div>
</div>