<p>
    <strong>Verb type:</strong>
    <%= @new_word.verb_form.verb_type %>
</p>
<p>
    <strong>Dictionary Form:</strong>
    <%= @new_word.verb_form.dictionary_form %>
</p>
<p>
    <strong>Te Form:</strong>
    <%= @new_word.verb_form.te_form %>
</p>
<p>
    <strong>Ta Fom:</strong>
    <%= @new_word.verb_form.ta_form %>
</p>
<p>
    <strong>Nai Form:</strong>
    <%= @new_word.verb_form.nai_form %>
</p>