<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @lesson.book %>
</p>

<p>
  <strong>Lesson:</strong>
  <%= @lesson.lesson %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
