<!DOCTYPE html>
<html>
    <head>
        <title>MarugotoBackend</title>
        <%= csrf_meta_tags %>
        <%= javascript_include_tag 'application' %>
        <%= javascript_include_tag Ckeditor.cdn_url %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <%= render 'shared/header'%>
        <%= yield %>
        <%= render 'shared/footer' %>
    </body>
</html>